---
Language:             Cpp
BasedOnStyle:         LLVM
IndentWidth:          4
Standard:             Cpp11
TabWidth:             4
UseTab:               ForIndentation
NamespaceIndentation: All
ColumnLimit:          120
FixNamespaceComments: true
IncludeBlocks:        Regroup
SortIncludes:         true
PointerAlignment:     Left
AlwaysBreakTemplateDeclarations: Yes
...

